<section class="section-function">
  <h2 class="header-section">Articles. Without caching</h2>

  <div class="section-description">
    <p>Just a regular section with regular articles.</p>
    <p><b>Rendered at:</b> <%= DateTime.now.strftime('%d.%m.%Y %H.%M.%S') %></p>
  </div>

  <% @articles.each do |article| %>
    <article class="article">
      <h3 class="article-header"><%= article.title %></h3>
      <p class="article-content"><%= article.content %></p>
    </article>
  <% end %>
</section>
