<section class="section-function">
  <h2 class="header-section">Articles. Without caching</h2>

  <div class="section-description">
    Just a regular section with regular articles.
  </div>

  <% @articles.each do |article| %>
    <article class="article">
      <h3 class="article-header"><%= article.title %></h3>
      <p class="article-content"><%= article.content %></p>
      <p class="article-date"><b>Rendered at:</b> <%= DateTime.now.strftime('%d.%m.%Y %H.%M.%S') %></p>
    </article>
  <% end %>
</section>
