<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<section>
  <h2 class="alert alert-primary" role="header">Articles. 1 minute caching</h2>

  <% cache("articles-1-minute-cache", expires_in: 1.minute) do %>
    <%= render partial: 'articles/cache_instruction' %>

    <div class="mb-3">
      <% @articles.each do |article| %>
        <%= render partial: 'articles/article', locals: { article: article } %>
      <% end %>
    </div>
  <% end %>
</section>
