<section>
  <div class="header-warning">
    We are in: controller &mdash; <b>Articles</b>. Action &mdash; <b>index</b>.
  </div>
</section>

<%= render partial: 'articles_without_caching' %>
<%= render partial: 'articles_with_caching' %>
