<div class="examples">
  <%= link_to "Articles", articles_list_path, class: 'example-item' %>
  <%= link_to "Articles with Caching", articles_cache_path, class: 'example-item' %>
  <%= link_to "Elastic Search Example", articles_search_path, class: 'example-item' %>
</div>
