<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Devise
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, class: 'dropdown-item' %>
      </li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path, class: 'dropdown-item' %><li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: 'dropdown-item' %><li>
    <% end %>
  </ul>
</li>
