<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Examples
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><%= link_to "Articles", articles_list_path, class: 'dropdown-item' %></li>
    <li><%= link_to "Articles with Caching", articles_cache_path, class: 'dropdown-item' %></li>
    <li><%= link_to "Elastic Search Example", articles_search_path, class: 'dropdown-item' %></li>
    <li><%= link_to "Upload Avatar", profile_user_path, class: 'dropdown-item' %></li>
  </ul>
</li>
