<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">
      Made with &hearts; by <a href="https://github.com/the-teacher">the-teacher</a>
    </p>
  </footer>
</div>
