<header>
  <div style="text-align:center">
    <h1 class="page-header">
      <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">
        <img width="300px" src="/Rails7.StartKit.jpg" />
      </a>
    </h1>
    <p>
      <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">Rails 7. StartKit.</a> Please tell your friends about this project.
    </p>
    <br>
  </div>
</header>
