<header>
  <div style="text-align:center">
    <h1 class="page-header">
      <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">
        <img width="300px" src="/Rails7.StartKit.jpg" />
      </a>
    </h1>
    <p>
      <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">Rails 7. StartKit.</a> Please tell your friends about this project.
    </p>
    <br>
  </div>

  <ul class="header-menu">
    <li class="header-item">
      <b>Root:</b>
      <%= link_to "Demo Index", "/" %>
    </li>

    <li class="header-item">
      <b>Mail Server:</b>
      <%= link_to "localhost:1080", "http://localhost:1080", target: :_blank %>
    </li>

    <li class="header-item">
      <b>ElasticSearch:</b>
      <%= link_to "localhost:9200", "http://localhost:9200", target: :_blank %>
    </li>
  </ul>
</header>
