<form class="d-flex" action="/articles_search">
  <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
