<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Services
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <%= link_to "Mail Server", "http://localhost:1080", class: 'dropdown-item', target: :_blank %>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to "Sidekiq UI", "http://localhost:3030", class: 'dropdown-item', target: :_blank %>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to "ElasticSearch", "http://localhost:9200", class: 'dropdown-item', target: :_blank %>
    </li>
  </ul>
</li>
