<section class="section-function">
  <h2 class="header-section">Tailwind CSS Framework</h2>

  <div class="section-description">
    <p>The content below is made with using Tailwind CSS</p>
  </div>

  <!--
    1. https://spaquet.medium.com/tailwind-css-autocomplete-in-vscode-with-ruby-on-rails-63a5fc24a1a4
    2. https://tailwindcss.com/docs/border-width
  -->
  <h1 class="mt-4 mb-4 ml-0 mr-0 p-5 font-serif text-4xl text-red-500 border-8 border-cyan-500">
    Hello world!!
  </h1>
</section>
