<main class="articles-block">
  <%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>
  <%= render partial: 'articles/found_articles', locals: { articles: @found_articles, term: @search_query } %>
  <%= render partial: 'articles/articles_without_caching', locals: { articles: @articles } %>
  <%= render partial: 'articles/articles_with_caching', locals: { articles: @articles } %>
</main>
