<section>
  <div class="header-warning">
    We are in: controller &mdash; <b>Demo</b>. Action &mdash; <b>index</b>.
  </div>
</section>

<%= render partial: 'found_articles', locals: { articles: @found_articles, term: @search_query } %>
<%= render partial: 'articles_without_caching', locals: { articles: @articles } %>
<%= render partial: 'articles_with_caching', locals: { articles: @articles } %>
