<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= image_tag '/Rails7.StartKit.jpg', width: '100px' %></td>
      <td>Rails 7. Start kit</td>
      <td>Instant Rails on Any Platform</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= image_tag 'Rails7.StartKit-sprockets.jpg', width: '100px' %></td>
      <td>Rails 7. Start kit</td>
      <td>Instant Rails on Any Platform</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><div class="Rails7startkit-logo" /></td>
      <td>Rails 7. Start kit</td>
      <td>Instant Rails on Any Platform</td>
    </tr>
  </tbody>
</table>
