server {
  listen 80;
  listen 443 ssl;
  server_name rails-start.com;

  ssl_certificate /etc/letsencrypt/live/rails-start.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/rails-start.com/privkey.pem;

  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  ssl_stapling on;
  ssl_stapling_verify on;
  add_header Strict-Transport-Security max-age=15768000;

  access_log /home/lucky/rails-start.com/nginx.log;
  error_log  /home/lucky/rails-start.com/nginx.errors.log;

  return 301 https://raw.githubusercontent.com/the-teacher/rails7-startkit/master/Rails7StartKit/install.sh;
}
