.articles-wrapper {
  margin: auto;
  padding: 10px;
}

.articles-block {
  padding-top: 10px;
}

article {
  margin-bottom: 30px;
}

.article {
  border: 1px solid rgb(180, 185, 209);
  border-width: 0px 0px 0px 10px;
  padding: 0 10px;
}

.article-header {
  background-color: rgb(231, 248, 255);
  padding: 10px;
}

.article-content {
  background-color: rgb(237, 244, 246);
  padding: 10px;
  margin-bottom: 10px;
}

.article-date {
  background-color: rgb(237, 244, 246);
  padding: 10px;
}
