header, footer {
  padding: 20px 0 0 0;
}

.header-menu {
  border-top: 7px solid lightgray;
  border-bottom: 7px solid lightgray;
  display: flex;
}

.header-menu .header-item {
  margin-right: 20px;
}

footer {
  border-top: 7px solid lightgray;
}

code {
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 3px;
  padding: 0 3px;
}

h1, h2 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 10px;
}

.page-header {
  margin: 0 0 20px 0;
}

section {
  margin: 20px 0;
}

.section-description {
  padding: 10px;
  border: 1px solid rgb(249, 124, 51);
  background-color: rgb(255, 251, 195);
  margin-bottom: 20px;
}

.header-warning {
  background-color: antiquewhite;
  border: 1px solid rgb(242, 189, 120);
  padding: 10px;
  margin-bottom: 20px;
}

.header-section {
  background-color: rgb(242, 255, 230);
  border: 1px solid rgb(187, 210, 165);
  padding: 10px;
}

em.tsh {
  background-color: yellow;
}

.page-alert {
  background-color: rgb(255, 193, 127);
  border: 1px solid #b43c00;
  padding: 20px;
  margin: 20px 0;
  font-size: 16px;
}

.section-pagination .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.section-pagination .pagination span {
  padding: 10px;
}

.section-pagination .pagination .page,
.section-pagination .pagination .prev,
.section-pagination .pagination .next,
.section-pagination .pagination .first,
.section-pagination .pagination .last {
  background-color: rgb(237, 244, 246);
}

.section-pagination .pagination a {
  color: #3168d7;
}
.section-pagination .pagination a:hover {
  color: #031741;
}

.flash_message {
  background-color: rgb(255, 193, 127);
  border: 1px solid #b43c00;
  padding: 20px;
  margin: 20px 0;
  font-size: 16px;
}

.examples {
  padding: 0;
  margin: 20px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.example-item {
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(231, 248, 255);
}
