@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,500&display=swap');

/* reset */

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box
}

*:hover, *:active, *:focus {
  outline: 0;
}

ol, ul { list-style: none }
li { list-style-position: outside }

table, tr, th, td {
  border-collapse: collapse;
  vertical-align: top;
  border-spacing: 0;
}

th { font-weight: bold }

a, a:hover {
  text-decoration: none;
}

html {
  color: black;
  font-size: 10px;
  background: white;
  font-family: Roboto, sans-serif;
}

/* ~ reset */

body {
  font-size: 1.6em;
  line-height: 2em;
}

a {
  color: #d73185;
}

a:hover {
  color: #3168d7;
}

.body {
  width: 1000px;
  margin: auto;
}
