@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* reset */
* {
  margin:  0;
  padding: 0;
  border:  0;
  outline: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box
}

*:hover, *:active, *:focus {
  outline: 0;
}

ol, ul { list-style: none }
li { list-style-position: outside }

table, tr, th, td {
  border-collapse: collapse;
  vertical-align: top;
  border-spacing: 0;
}

th { font-weight: bold }

a, a:hover {
  text-decoration: none;
}

html {
  color: black;
  font-size: 10px;
  background: white;
  font-family: Roboto, sans-serif;
}
/* ~ reset */

body {
  font-size: 1.6em;
  line-height: 2em;
}

a {
  color: #60858d;
}
a:hover {
  color: #d73185;
}
