.edit_user {
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}

.edit_user input[type=file],
.edit_user input[type=submit] {
  font-size: 16px;
  padding: 10px;
}

.edit_user input[type=file] {
  padding: 0;
}

.user_avatar {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 5px solid red;
}
